
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200&family=Ruwudu&display=swap');

.fondos{
    
    background-image: url(../img/fondo5.jpg);
    background-color:rgba(255,255,255,0.8) ;
    background-repeat: no-repeat;
    
    background-position: center center ;
    background-attachment: fixed;
    background-size: 1400px;
    margin: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.main {
    display: flex;
    align-items: flex-start;
}

.image-column {
    flex: 1;
    padding-right: 20px;
}

#image-container {
    text-align: center;
    margin-bottom: 10px;
    size: 10px;
}

.upload-column {
    flex: 1;
    padding-left: 20px;
}

form {
    text-align: center;
}

.message {
    text-align: center;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

#nv{
    background-color:transparent !important;
}

#navbarNavDropdown {
    color: #27798f;
}

/* Fuentes*/

.noto{
    font-family: 'Noto Serif', serif;
}

.ruwu{
    font-family: 'Ruwudu', serif;
}

/*Colores*/

.color1{
    color:#08596C ;
}
.color2{
    color: #6BCBA5;
}
.color3{
    color: #A0E6AA;
}
.color4{
    color: #CAF4C2;
}


/*bordes*/

.bordes{
    border-color: #6BCBA5 !important;
    border-radius: 50px !important;
    border: 20px solid ;

}


/*posiciones*/
.centerx{
    display: flex;
    justify-content: center;
}

.centery{
    display: flex;
    align-items: center;

}

